<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
         User Name: <%= @user.name %>
      </h1>
    </div>
  </div>
  <br/><br/>
  <% if logged_in? && @user %>
  <%= link_to 'Edit', edit_user_path, class:"button is-warning" %>
</section>
<br/>
<%= render 'articles/article', obj: @user.articles %>
<%end%>

