@import "bulma";
.navbar-brand {
  margin: 10px;
}
.form {
  padding-right: 30%;
  padding-left: 30%;
}

.button-1 {
  padding-left: 220px;
}
.card {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15px;
}